@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    --neon-dark: #050801;
    --neon-black: #0005;
    --neon-blue: #03e9f4
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--neon-dark);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

a {
    position: 'relative';
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0px;
    color: var(--neon-blue);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin-right: 50px;
}

a:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px var(--neon-blue), 0 0 25px var(--neon-blue), 0 0 50px var(--neon-blue), 0 0 200px var(--neon-blue);
    -webkit-box-reflect: below 3px linear-gradient(transparent, var(--neon-black));
}