@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* Color Variables */
:root {
    --neon-dark: #050801;
    --neon-black: #0005;
    --neon-start: #03e9f4;
}

/* Default Page Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Center Buttons */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: var(--neon-dark);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

/* Basic Link Styling and Hover */
a {
    position: 'relative';
    display: inline-block;
    padding: 20px 20px;
    color: var(--neon-start);
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    margin: 20px;
}

a:hover {
    background: var(--neon-start);
    color: var(--neon-dark);
    box-shadow: 0 0 1rem var(--neon-start), 0 0 5rem var(--neon-start), 0 0 10rem var(--neon-start), 0 0 20rem var(--neon-start);
    -webkit-box-reflect: below 3px linear-gradient(transparent, var(--neon-black));
}

/* Color Variations */
a:nth-child(1) {
    filter: hue-rotate(0deg);
}

a:nth-child(2) {
    filter: hue-rotate(60deg);
}

a:nth-child(3) {
    filter: hue-rotate(120deg);
}

a:nth-child(4) {
    filter: hue-rotate(180deg);
}

a:nth-child(5) {
    filter: hue-rotate(240deg);
}

a:nth-child(6) {
    filter: hue-rotate(300deg);
}

/* Border Animation Effect */
a span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, var(--neon-start));
    animation: animate1 2s linear infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%,
    100% {
        left: 100%;
    }
}

a span:nth-child(2) {
    position: absolute;
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(90deg, transparent, var(--neon-start));
    animation: animate2 2s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%,
    100% {
        top: 100%;
    }
}

a span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, var(--neon-start));
    animation: animate3 2s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%,
    100% {
        right: 100%;
    }
}

a span:nth-child(4) {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--neon-start));
    animation: animate4 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%,
    100% {
        bottom: 100%;
    }
}
